.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .found {
    background: linear-gradient(#093d4c, #20819c, #034152, #002e3b);  
    // background-image: url('https://fondosmil.com/fondo/47987.jpg');
    // background-image: url(../../../assets/imgs/IntiPaz2023.png);
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    // background-size: contain;
  }
//   .card-found {
//     background-image: url('https://fondosmil.com/fondo/47987.jpg');
//   }
  ::ng-deep :root {
      overflow-y: hidden;
      overflow-x: hidden;
  }