<nb-card status="primary" class="scrollModal" style="width:600px;" [nbSpinner]="loading">
    <nb-card-header class="card_header_backgournd">
      <div class="d-flex align-items-center justify-content-between">
          <div>
              <nb-icon icon="people-outline" status="success"></nb-icon>&nbsp;&nbsp;CREAR PARTIDOS
          </div>
          <button nbButton outline status="basic" size="tiny" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formHeaders">
            <div>
                <label class="label">Periodo</label><br>
                <nb-select fullWidth size="small" formControlName="id_periodo" placeholder="Selecciona periodo" (selectedChange)="selectedPeriodo()">
                    <nb-option *ngFor="let item of periodos" [value]="item.id_periodo">
                        {{item.nombre}} - {{item.id_anho}} del {{item.fecha_inicio | date: 'dd/MM/yyyy'}} al {{item.fecha_fin | date: 'dd/MM/yyyy'}}
                    </nb-option>
                </nb-select>
            </div>
            <div>
                <label class="label">Diciplina</label><br>
                <nb-select fullWidth size="small" formControlName="id_diciplina" placeholder="Selecciona diciplina" (selectedChange)="selectedDiciplina()">
                    <nb-option *ngFor="let item of diciplinas" [value]="item.id_diciplina">
                        {{item.nombre}}
                    </nb-option>
                </nb-select>
            </div>
            <div>
                <label class="label">Fase</label><br>
                <nb-select fullWidth size="small" formControlName="id_fase" placeholder="Selecciona fase">
                    <nb-option *ngFor="let item of fases" [value]="item.id_fase" (click)="changeFase(item)">
                        {{item.nombre}}
                    </nb-option>
                </nb-select>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label class="label">Fecha</label><br>
                    <input nbInput fieldSize="small" fullWidth formControlName="fecha" [nbDatepicker]="fecha">
                    <nb-datepicker #fecha format="dd/MM/yyyy"></nb-datepicker>
                </div>
                <div class="col-md-6">
                    <label class="label">Orden</label><br>
                    <nb-form-field>
                        <button nbPrefix nbButton size="small" status="danger" (click)="orden('minus')" [disabled]="formHeaders.value.orden <= 0"><nb-icon  icon="minus-outline"></nb-icon></button>
                        <input type="text" nbInput fullWidth fieldSize="small"  class="text-center" [readOnly]="true" formControlName="orden">
                        <button nbSuffix nbButton size="small" status="success" (click)="orden('plus')"><nb-icon  icon="plus-outline"></nb-icon></button>
                    </nb-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="label">Hora inicio</label><br>
                    <input nbInput fieldSize="small" fullWidth formControlName="hora_inicio" [nbTimepicker]="horaInicio">
                    <nb-timepicker #horaInicio></nb-timepicker>
                </div>
                <div class="col-md-6">
                    <label class="label">Hora fin</label><br>
                    <input nbInput fieldSize="small" fullWidth formControlName="hora_fin" [nbTimepicker]="horaFin">
                    <nb-timepicker #horaFin></nb-timepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="label">Categoría</label><br>
                    <nb-select fullWidth size="small" formControlName="id_categoria" placeholder="Selecciona categoría" (selectedChange)="selectedCategoria()">
                        <nb-option *ngFor="let item of categorias" [value]="item.id_categoria">
                            {{item.nombre}}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-6">
                    <label class="label">Grupo</label><br>
                    <nb-select fullWidth size="small" formControlName="id_grupo" placeholder="Selecciona grupo" (selectedChange)="selectedGrupos()">
                        <!-- <nb-option value="" *ngIf="formHeaders.value.fase_codigo !== 'FDGPS'">Todos</nb-option> -->
                        <nb-option *ngFor="let item of grupos" [value]="item.id_grupo">
                            {{item.nombre}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
            <br>
            <div class="text-center">
                <strong>VS</strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nb-select fullWidth size="small" formControlName="id_grupo_equipo_a" placeholder="Selecciona equipo A">
                        <nb-option *ngFor="let item of equiposPartities" [value]="item.id_grupo_equipo">
                            {{item.grupo}} -  {{item.equipo}} -  {{item.categoria}}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-6">
                    <nb-select fullWidth size="small" formControlName="id_grupo_equipo_b" placeholder="Selecciona equipo B">
                        <nb-option *ngFor="let item of equiposPartities" [value]="item.id_grupo_equipo">
                            {{item.grupo}} -  {{item.equipo}} -  {{item.categoria}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton size="small" status="primary" hero [disabled]="formHeaders.invalid" (click)="save('GC')">Guardar y continuar</button>&nbsp;
        <button nbButton size="small" status="primary" hero [disabled]="formHeaders.invalid" (click)="save('GF')">Guardar y finalizar</button>
    </nb-card-footer>
</nb-card>