<div [nbSpinner]="loading">
    <form [formGroup]="formHeaders">
        <div class="row">
            <div class="col-md-3">
                <label class="label">Periodo</label><br>
                <nb-select fullWidth size="small" formControlName="id_periodo" placeholder="Selecciona periodo" (selectedChange)="selectPeriodo()">
                    <nb-option *ngFor="let item of periodos" [value]="item.id_periodo">
                        {{item.nombre}} - {{item.id_anho}} del {{item.fecha_inicio | date: 'dd/MM/yyyy'}} al {{item.fecha_fin | date: 'dd/MM/yyyy'}}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label class="label">Fase</label><br>
                <nb-select fullWidth size="small" formControlName="id_fase" placeholder="Selecciona fase">
                    <nb-option *ngFor="let item of fases" [value]="item.id_fase">
                        {{item.nombre}}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label class="label">Diciplina</label><br>
                <nb-select fullWidth size="small" formControlName="id_diciplina" placeholder="Selecciona diciplina">
                    <nb-option *ngFor="let item of diciplinas" [value]="item.id_diciplina">
                        {{item.nombre}}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label class="label">Categoría</label><br>
                <nb-select fullWidth size="small" formControlName="id_categoria" placeholder="Selecciona categoría">
                    <nb-option value="">Todos</nb-option>
                    <nb-option *ngFor="let item of categorias" [value]="item.id_categoria">
                        {{item.nombre}}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <label class="label"></label><br>
                <div class="row">
                    <div class="col-md-6">
                        <button nbButton size="small" status="warning" hero fullWidth (click)="filters()"><nb-icon icon="funnel"></nb-icon> Filtrar</button>
                    </div>
                    <div class="col-md-6">
                        <button nbButton size="small" status="primary" hero fullWidth (click)="openPartities()"><nb-icon icon="plus"></nb-icon> Crear partido</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="card-group row">
        <div *ngFor="let item of data;let i = index" [class]="data.length > 1 ? 'col-md-6' : 'col-md-12'">
            <nb-card [status]="item.categoria === 'Varones' ? 'info' : 'danger'">
                <nb-card-header  style="position: relative;">
                    <nb-badge [text]="item.finalizado === 'N' ? 'Pendiente' : item.finalizado === 'J' ? 'JUGANDO ....' : 'Finalizado'" 
                        [status]="item.finalizado === 'N' ? 'danger' : item.finalizado === 'J' ? 'warning' : 'success'" position="top right">
                    </nb-badge>
                   {{item.orden}}). {{item.grupo || item.fase}} - {{item.categoria}}
                </nb-card-header>
                <nb-card-body>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            
                            <tbody>
                                <tr *ngFor="let det of item?.details; let ik = index" style="font-size: 18px !important; font-weight: bold;">
                                    <!-- <td>{{ik+1}}</td> -->
                                    <td style="width: 1px;"><img [src]="det.logo" alt="" height="40"></td>
                                    <td>{{det.equipo}}</td>
                                    <td style="width: 150px;" class="text-center">
                                        <nb-form-field *ngIf="item.finalizado === 'J'">
                                            <button nbPrefix nbButton size="small" status="danger" [disabled]="det.puntos<=0" (click)="resultado(det, 'minus')"><nb-icon  icon="minus-outline"></nb-icon></button>
                                            <input type="text" nbInput fullWidth fieldSize="small" [value]="det.puntos" [(ngModel)]="det.puntos" class="text-center" [readOnly]="true">
                                            <button nbSuffix nbButton size="small" status="success" (click)="resultado(det, 'plus')"><nb-icon  icon="plus-outline"></nb-icon></button>
                                        </nb-form-field>
                                        <span *ngIf="item.finalizado !== 'J'">{{det.puntos}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
                <nb-card-footer style="text-align: right;" *ngIf="item.finalizado !== 'F'">
                    <button *ngIf="item.finalizado === 'J'" nbButton size="small" status="primary" hero (click)="finish(item)"><nb-icon icon="plus"></nb-icon> Finalizar</button>&nbsp;
                    <button *ngIf="item.finalizado === 'N'" nbButton size="small" status="success" hero (click)="start(item)"><nb-icon icon="plus"></nb-icon> Iniciar</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>
